body {
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

.logo {
  padding: 1em;
  padding-bottom: 0;
  background: #fafafa;
}

.logo .product-name {
  font-size: 2em;
  color: #52539a;
}

.logo .product-author {
  font-size: .8em;
  color: #aaa;
}

.menu {
  border-bottom: 1px solid #eee;
  padding: 1em;
  background: #fafafa;
  overflow: hidden;
}

.menu .menu-item.menu-item-right {
  background: #52539a;
  color: #fff;
  float: right;
  margin-right: 0em;
}

.menu .menu-item {
  float: left;
  background: #555;
  border: 0;
  color: #ddd;
  font-size: 14px;
  padding: .5em;
  margin-right: .5em;
}

.menu .menu-item:hover {
  background: #333;
  color: #eee;
  cursor: pointer;
}

.menu .menu-item:active {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.pool {
  padding: 1em;
}

.wavetable {
  float: left;
  border: 1px solid #eee;
  padding: .5em;
  margin-right: 1em;
  background: #fafafa;
}

.wavetable .name {
  width: 100%;
  display: inline-block;
  background: #333;
  color: #fff;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

.wavetable canvas {
  background: #f1f1f1;
}
